:root {
  font: 16px / 1.5 "Helvetica", "Arial", sans-serif;
}

@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}

@media print {
  :root {
    font: 11pt / 1.3 "Georgia", "Times New Roman", "Times", serif;
  }
}

section {
  margin-bottom: 1.5em;
  padding-top: 2em;
}

.othersection {
  font-size: 3em;
}

.othersection article {
  margin-top: 2em;
}
